.containerF {
    max-width: 1500px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.footer {
    background-color: rgb(77, 75, 75);
    padding: 70px 0;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-social {
    width: 25%;
    padding: 0 15px;
}

.footer-email {
    width: 25%;
    padding: 0 15px;
}

.footer-col h2 {
    font-size: 24px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-social h2 {
    font-size: 24px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-email h2 {
    font-size: 24px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--background);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    width: 50%;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--background);
    padding-left: 8px;
}
/* Social media buttons */
.rounded-social-buttons {
  text-align: left;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #f0a76c;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #f06c8d;
  background: #fefefe;
  border-color: #f06c8d;
}
/* Newsletter signup form */
#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-btn {
    width: 100px;
    height: 40px;  
    border-radius: 4px;
    background-color: var(--background);
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
}

#footer-email-btn:hover {
    background-color: rgb(189, 62, 62);
    cursor: pointer;
    transition: all 0.4s ease-out;
}